<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <p>회원 기능</p>
        <p>
            <a href="/member/add" methods="get">회원 가입</a>
            <a href="">회원 조회</a>
        </p>
        <p>상품 기능</p>
        <p>
            <a href="">상품 구매</a>
        </p>
    </div>

</body>
</html>
